<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
  body {
    background: url(../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  nav {
    background: #aad6ec57;
    width: 100%;


  }


  .be-angular-web__nav-img {
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
  
  }

  .be-angular-web {
    color: #3c4b64;
    margin-left: 9%;
    margin-right: 9%;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .be-angular-web__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%;
    margin-top: 1%;
    font-size: 55px;
    line-height: 58px;

  }

  .be-angular-web__content {
    text-align: justify;
    color: #3c4b64da;
    font-size: 20px;
    line-height: 36px;
    margin: 22px 0;
  }

  .be-angular-web__subheader {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: xx-large;
  }

  .be-angular-web__ul-li {

    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 20%;
    font-size: 17px;
    font-weight: 300;
    color: #3c4b64c1;
    list-style: circle;

  }
</style>

<body>

  <nav>
    <img class="be-angular-web__nav-img" src="../assets/images/icon.png" alt="icon">
  </nav>

  <div class="be-angular-web">

    <h1 class="be-angular-web__header">Welcome to {{title}}</h1>

    <p class="be-angular-web__content">{{intro}}</p>
    <h2 class="be-angular-web__subheader">Introducing {{subtitle}}</h2>
    <p class="be-angular-web__content">{{subtitle}} is the latest version of the Angular framework, which was released
      in November 2023.</p>

    <h3 class="be-angular-web__subheader">New Feartures in {{subtitle}}</h3>

    <p class="be-angular-web__content">The following are some of the enhancements and new features that {{subtitle}}
      offers:</p>

    <ul class="be-angular-web__ul">
      <li class="be-angular-web__ul-li">TypeScript 5.2</li>
      <li class="be-angular-web__ul-li">CSS is removed automatically.</li>
      <li class="be-angular-web__ul-li">Deferrable views: This feature brings performance and developer experience to
        the next level.</li>
      <li class="be-angular-web__ul-li">Public benchmarks with integrated control flow loops have up to 90% quicker
        runtime.</li>
      <li class="be-angular-web__ul-li">Up to 87% faster builds for hybrid rendering and 67% for client-side rendering
      </li>
      <li class="be-angular-web__ul-li">A fresh new look reflecting the future-looking features of Angular</li>
      <li class="be-angular-web__ul-li">An entirely new interactive learning journey</li>
      <li class="be-angular-web__ul-li">{{feature}}</li>
      <li class="be-angular-web__ul-li">Support for custom element bindings and elements providers</li>
      <li class="be-angular-web__ul-li">has better support for server-side rendering (SSR) and lazy loading of page
        parts </li>


    </ul>

  </div>


</body>









<router-outlet></router-outlet>